!!! 5
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
%html.no-js
	<!--<![endif]-->
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
		
		%title= data.page.title || "The Middleman"

		%meta{:content => "width=device-width", :name => "viewport"}

		= javascript_include_tag "vendor/modernizr"
		= stylesheet_link_tag "site"

	%body
		%header#header
			%a#logo{:href => "/"}
				%span
				%h1 David Annez
			.tagline 
				Developer at
				%a{:href => "http://tictocfamily.com"}tictoc
				&amp; entrepreneur at
				%a{:href => "http://frogbeats.com"} frogbeats

			.social_links
				%a{:href => "https://twitter.com/davidannez", :title => "Twitter"} T
				%a{:href => "https://github.com/annez", :title => "github"} g
				%a{:href => "http://linkedin.com/in/davidannez", :title => "LinkedIN"} L
				%a{:href => "mailto:david.annez@gmail.com", :title => "Email"} m
				%a{:href => "http://last.fm/user/ZimmerX", :title => "LastFM"} l



		#main{:role => :main}= yield

		%footer#footer
			Built with
			%a{:href => "http://middlemanapp.com"} middleman
			,
			%a{:href => "http://haml.info"} HAML
			,
			%a{:href => "http://sass-lang.com"} SASS
			&amp;
			%a{:href => "http://compass-style.org"} Compass

		:javascript
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-39444609-1']);
			_gaq.push(['_setDomainName', 'davidannez.com']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		-#= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"
		-#:javascript
			-#window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
		-#= javascript_include_tag "site"