#header
	@extend %wrapper
	
	text-align: center
	border-color: $grey_6

#logo
	+columns(8)
	display: block
	text-decoration: none

	span
		+hidpi-image("logo")
		+leader(1)
		+transition-property("all")
		+transition-duration(1s)
		display: block
		padding-top: image-height('logo.png')
		background-repeat: no-repeat
		background-position: center top

	&:hover
		span
			+rotate(360deg)


.tagline
	+columns(8)