*
	+box-sizing("border-box")

html
	height: 100%

body
	@extend %brandon-text
	color: $text_color
	min-height: 100%
	position: relative
	border-top: 8px solid $color_1

.container
	@extend %wrapper

#main
	background-color: white
	padding-bottom: 60px	