---
import Intro from '../components/Intro.astro';
import Skills from '../components/Skills.astro';
import {Content as Experience} from '../components/Experience.md';
import Layout from '../layouts/Layout.astro';
import Links from '../components/Links.astro';
---

<Layout title="CV / Resume - David Annez" description="Generalist engineer and product leader focused on business outcomes over technology">
    <main class="grid grid-cols-1 md:grid-cols-3 gap-4 p-4 md:p-8 experience">
      <section class="md:col-span-1">
        <Intro />
        <Skills />
      </section>
      <section class="md:col-span-2">
        <div class="md:p-4">
          <h2 class="text-lg font-bold">Experience</h2>
          <Experience />
          <Links />
      </section>
    </main>
</Layout>
