---
import Skills from '../components/Skills.astro';
import Intro from '../components/Intro.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="David Annez - Product and tech leader" description="Generalist engineer and product leader focused on business outcomes over technolog"></Layout>
    <main class="grid grid-cols-1 md:grid-cols-3 gap-4 p-8">
    <section class="md:col-span-1">
        <Intro />
        <Skills />
    </section>
    <section class="md:col-span-2">
        
    </section>
    </main>
</Layout>