<div class="no-print mt-8">
  <h2 class="mb-2">On the internet:</h2>
  <ul class="text-xs">
    <li><a href="https://www.youtube.com/watch?v=9RpeNnc74vE">Redmonk interview</a></li>
    <li><a href="https://www.ecommerceexpo.co.uk/speakers/david-annez">Ecommerce Expo</a></li>
    <li><a href="https://www.youtube.com/watch?v=a1y3xxtYD3I&amp;t=799s">Sanity AI create</a></li>
    <li><a href="https://www.fastly.com/customers/loveholidays-video/">Fastly Experimentation</a></li>
    <li><a href="https://tech.loveholidays.com/making-loveholidays-18-faster-with-http-3-1860879528a7">HTTP3 implementation</a></li>
    <li><a href="https://www.fastly.com/de/altitude/2020/traveling-light-simpler-architecture-edge-serverless-position-to-win/">Fastly Altitude conference</a></li>
    <li><a href="https://www.rudderstack.com/blog/loveholidays-is-taking-ownership-of-its-data/">Tracking and personalisation with rudderstack</a></li>
  </ul>
</div>